body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* Add spacing between elements */
    margin: 0;
    /* Remove any default body margins */
    padding: 16px;
    /* Optional: Add padding around the entire layout */
    box-sizing: border-box;
}

.main-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  box-sizing: border-box;
}

.level-progress-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.resizable-container {
    position: relative;
    resize: both;
    overflow: hidden;
    min-width: 70%;
    height: 600px;
    border-style: solid;
    border-color: lightgray;
    user-select: none;
}

.canvas {
    overflow: scroll;

    width: 100%;
    height: 100%;
}

.settingsForButtons {
    font-size: xx-large;
    display: flex;
    align-items: center;
    /* Align items vertically */
    gap: 16px;
    /* Add space between elements */
}

.settingsForButtons.aligned-element {
    height: fit-content;
    padding: 15px;
    font-size: large;
    flex: 1;
    max-width: fit-content;
}

.aligned-element {
    height: fit-content;
    padding: 15px;
    font-size: large;
    flex: 1;
    max-width: fit-content;
}

.stage-timer-container {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -1rem;
  }
  
  .stage-indicator,
  .stage-spacer {
    flex: 1;
    text-align: left;
    font-size: 1.85rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.6rem;
    margin-left: 0.5rem;
    font-family: monospace;
  }
