<div class="flexColumnAlignStartStretch">
    <!--  Header  -->
    <div class="flexRowAlignCenterCenter">
        <a href="https://www.fernuni-hagen.de/ilovepetrinets/">
            <h1>I <span class="red">❤</span> Petri Nets</h1>
        </a>
    </div>
    <h2>
        <i>Gamified Interactive Inductive Miner</i> <br>
        by Ramzan Dadiev<br>
        based on the <a href="https://github.com/TilDans/Westen-FaPra-WiSe-24-25-ImproveLayout"
            style="color: blue; text-decoration: underline;">Interactive Inducutive Miner</a>
    </h2>

    <div class="feedback-banner">
        <p>
            <strong>NOTE:</strong>
            Please take a moment to fill out a short questionnaire to support the evaluation of
            this app as part of my Master's thesis. Your feedback is greatly appreciated!
            <a href="https://forms.cloud.microsoft/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__TOZN5ZUMTRLV0ZRNFhRV1FDTEhJOVJCWFNBMlZUNS4u" target="_blank" rel="noopener">Click here to open the questionnaire</a>.
        </p>
    </div>

    <!--    Main content    -->
    <app-display class="padding full-size" (fileContent)="processSourceChange($event)"
        [hidden]="initHidden"></app-display>

    <!--  Footer  -->
    <hr class="margin">
    <app-footer></app-footer>
</div>