<div class="flexColumnAlignStartStretch">
    <!--  Header  -->
    <div class="flexRowAlignCenterCenter">
        <a href="https://www.fernuni-hagen.de/ilovepetrinets/">
            <h1>I <span class="red">❤</span> Petri Nets</h1>
        </a>
    </div>
    <h2>
        <i>Gamified Interactive Inductive Miner</i> <br>
        by Ramzan Dadiev<br>
        based on the <a href="https://github.com/TilDans/Westen-FaPra-WiSe-24-25-ImproveLayout"
            style="color: blue; text-decoration: underline;">Interactive Indcutive Miner</a>
    </h2>

    <!--    Main content    -->
    <app-display class="padding full-size" (fileContent)="processSourceChange($event)"
        [hidden]="initHidden"></app-display>

    <!--  Footer  -->
    <hr class="margin">
    <app-footer></app-footer>
</div>